*{
    font-family: 'Poiret One', cursive;
    font-family: 'Quicksand', sans-serif;
   
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff77d;
    border-radius: 3rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff77d;
  }

body{
  overflow-x: hidden;
    /* background-image: url('/imgs/bg.jpg');
    background-position: center;
    background-repeat: no-repeat; */

}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #fff77d;
}

.links>a:hover{
  color: white;
}

.inputemail:focus{
    outline:none;
}

.inputemail{ 
    color:white;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.products {
	position: relative;
}
.edit {
	margin-top: 6.5rem;
  margin-left: 4rem;
	position: absolute;
	top: 0;
	display: none;
}
.products:hover .post-image{
  opacity: 0.7;
}
.products:hover .hover-icon{
  opacity: 1;
}
.hover-icon{
  width: 30px;
}
.products:hover .edit {
	display: flex;
}

.login{
  background-image: url('/imgs/loginBg2.jpg');
  background-attachment: fixed;
  background-size:cover;
}

.signup{
  background-image: url('/imgs/signup.jpg');
  background-attachment: fixed;
  background-size:cover;
}

.welcome, .shop, .cart, .productpage{
  /* background-image: url('/imgs/3.jpg');
  background-attachment: fixed;
  background-size:cover; */
}
.welcome-top{
  background-image: url('/imgs/Gift-img.jpg');
  background-attachment: fixed;
  background-size:cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.about-cover{
  background-image: url('/imgs/About-us-cover.jpg');
  background-attachment: fixed;
  background-size:cover;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue',
            helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.welcome-product-card{
  --b: .5em; /* border width */
	--c: 3em; /* corner size */
	--r: 2em; /* corner rounding */
	position: relative;
	margin: 1em auto;
	border: solid var(--b) transparent;
	padding: 1em;
	width: 95%;
	font: 1.25em ubuntu, sans-serif;
	
	&::before {
		position: absolute;
		z-index: -1;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(orange, deeppink, purple) border-box;
		--corner: 
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
						mask: var(--corner) subtract, var(--inner);
		content: ''
	}
}
.header{
  background-color: #E32C92;
  color: white;
  padding: 0 1rem;
}
.header a{
  transition: 0.3s;
}
.header a:hover{
  font-weight: bold;
  font-size: large;
  color: #FDE6A9;
}
.border-line{
  text-align: center;
  width: 70%;
  height: 2px;
  background-color: rgb(155, 155, 155);
}
.whatsapp{
  width:50px;
  cursor: pointer;
  position:fixed; 
  bottom:1.5rem; 
  right:1.5rem;
  transition: 0.3s;
}

.whatsapp:hover{
  width: 60px;
}

.footer{
  background-color: #E32C92;
}
